:root{
    --primeColor: rgb(3,153,190);
}

h1{
    text-align: center;
    font-family: Arial;
    margin-bottom: 1em;
}

.container{
    align-items: center;
    border: 2px solid rgb(204, 204, 204);
    padding: 1em;
    border-radius: 3px;
    margin-left: 7em;
    margin-right: 7em;
    padding-left: 2em;
    padding-right: 2em;
}

i{
    background-color:var(--primeColor);
    color: white;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 3px;
}

input{
    border:none;
    outline: none;/*لما نضغط عالبوكس ما بتظهر حدوده*/
    padding: 5px;
    font-size: 1.1em;
}

.addbar{
    margin-bottom: 1em;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
}

.container button{
    background-color: var(--primeColor);
    color: white;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 1em;
    padding: 8px;
}

h2{
    text-align: center;
    font-family: Arial;
    margin-bottom: 1em;
    font-size: 2em;
}

.buttons {
    display: flex;
    flex: 3;
}

.buttons button{
    background-color: var(--primeColor);
    color: white;
    border: none;
    border-radius: 3px;
}