:root {
    --primeColor: rgb(3, 153, 190);
    --secColor: rgb(233, 67, 67);
}

h1 {
    text-align: center;
    font-family: Arial;
    margin-bottom: 1em;
}

.container {
    align-items: center;
    border: 2px solid rgb(204, 204, 204);
    padding: 1em 2em;
    border-radius: 3px;
    margin-left: 7em;
    margin-right: 7em;
    padding-left: 2em;
    padding-right: 2em;

    button {
        background-color: var(--primeColor);
        color: white;
        border: none;
        border-radius: 1px;
        width: 100%;
        font-size: 1em;
        padding: 8px;
    }

    button:hover {
        background-color: rgb(0, 103, 129);
        cursor: pointer;
    }
}

.addbar i {
    background-color: var(--primeColor);
    color: white;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 3px;
}

#todoInput {
    border: none;
    outline: none;
    /*لما نضغط عالبوكس ما بتظهر حدوده*/
    padding: 5px;
    font-size: 1.1em;
    color: black
}

.addbar {
    margin-bottom: 1em;
    border: 1px solid rgb(172, 168, 168);
    border-radius: 3px;
}

.addbar:focus-within:has(input:not(:placeholder-shown)) {
    border-color: black;
}

#errorMessage {
    color: rgb(180, 15, 15);
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-top: 0em;
    display: none;
    font-family: Arial;
}


h2 {
    text-align: center;
    font-family: Arial;
    margin-bottom: 1em;
    font-size: 2em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 5px;

    button {
        background-color: var(--primeColor);
        color: white;
        border: none;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        flex: 1;
        padding: 8px;
    }
}

/*-----------------------Misk-------------------------*/

.todo-list li {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(204, 204, 204);
    margin-left: 3em;
    margin-right: 4.55em;
    list-style-type: none;
    font-size: 1.4em;
    font-family: Arial;
    padding: 0.25em;
    padding-left: 1em;
    border-radius: 3px;

    button {
        margin: 0;
        border: none;
        background: none;
        position: relative;
        top: -2px;
        font-size: 0.7em;
    }

    .check {
        color: rgb(204, 204, 204);
    }

    .check:hover {
        filter: brightness(70%);
        cursor: pointer;
    }

    .edit {
        color: rgb(249, 192, 11);
        padding-left: 0;
    }

    .edit:hover {
        filter: brightness(70%);
        cursor: pointer;
    }

    .delete {
        color: rgb(229, 69, 74);
        padding-left: 0;
    }

    .delete:hover {
        filter: brightness(70%);
        cursor: pointer;
    }

}

.completed span {
    text-decoration: line-through;
    color: rgb(185, 73, 95);
}

.completed .check {
    color: green !important;
}

.delete-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 7em;
    margin-right: 7em;

    button {
        background-color: var(--secColor);
        color: white;
        border: none;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        flex: 1;
        padding: 8px;
    }

}

.edit-hidden {
    display: none;
}

.edit-opacity {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

.edit-overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    height: 30vh;
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    input {
        width: 80%;
        height: 15%;
        font-size: 1.1em;
        margin-bottom: 1em;
    }

    .edition-buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-left: 7em;
        margin-right: 7em;
        margin-bottom: 5px;

    }

    .edition-buttons #save {
        background-color: var(--primeColor);
        color: white;
        border: none;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        padding: 8px;
    }

    .edition-buttons #edit-cancel {
        background-color: var(--secColor);
        color: white;
        border: none;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        padding: 8px;
    }

    #edit-cancel:hover {
        border: 2px black solid;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        padding: 8px;
        cursor: pointer;
    }

    #save:hover {
        border: 2px black solid;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        padding: 8px;
        cursor: pointer;
    }
}


.delete-hidden {
    display: none;
}

.delete-opacity {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

.delete-overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    height: 30vh;
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    p {
        font-family: Arial;
        margin-bottom: 2em;
        margin-top: 0;
    }

    .deletion-buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-left: 7em;
        margin-right: 7em;
        margin-bottom: 5px;
    }

    .deletion-buttons #confirm {
        background-color: grey;
        color: white;
        border: none;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        padding: 8px;
    }

    .deletion-buttons #delete-cancel {
        background-color: var(--secColor);
        color: white;
        border: none;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        padding: 8px;
    }

    #delete-cancel:hover {
        border: 2px black solid;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        padding: 8px;
        cursor: pointer;
    }

    #confirm:hover {
        border: 2px black solid;
        border-radius: 3px;
        text-align: center;
        font-size: 1em;
        padding: 8px;
        cursor: pointer;
    }
}

/*----------------------------End Misk-----------------*/